body {
    font-family: 'Earth Orbiter Halftone', sans-serif;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }

.img-bg {
    background-image: url("https://images.unsplash.com/photo-1501769752-a59efa2298ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    filter: brightness(0.2);
    z-index: -5;
}

/* NavBar   */

.navbar-start > a.navbar-item ,.navbar-start > a.navbar-link {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin: 0px 10px;
}

#dropDownButton > a {
    font-size: 1.2em;
    font-weight: bold;
    color:white;
    margin-left: 10px;
}

#dropDownMenu > a {
    color:white;
}

.navbar-divider {
    height: 1px;
}

.navbar-start > a.navbar-item:hover {
    color: rgb(128, 0, 128);
    transition: 300ms;
    background-color: transparent;
}

#dropDownButton:hover {
    background-color: rgb(128, 0, 128, 0.315);
}

#dropDownButton > a:hover {
    animation: miasmus 2s ease infinite;
}

#dropDownMenu > a:hover:nth-of-type(odd) {
    color: rgb(128, 0, 128);
    animation: miasmus 2s ease infinite;
}
#dropDownMenu > a:hover:nth-of-type(even) {
    color: rgb(128, 0, 128);
    animation: vibes 2s ease infinite;
}

.navbar-dropdown {
    background-color: rgb(128, 0, 128, 0.315);
    color: white;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: rgb(128, 0, 128)
}

.is-transparent {
    background-color: rgba(255, 255, 255, 0);
}


/*Nav Bar Right Search Area */


input, input::placeholder {
    font-family: 'Earth Orbiter Halftone', sans-serif;
}

#inputPurpleArea {
    background-color: rgba(128, 0, 128, 0.315);
    border: none;
    color: white;
    padding-left: 40px;
    border-radius: 15px 0px 0px 15px;
}
#inputPurpleArea:focus {
    transition: 300ms;
    box-shadow: 0 0 0 0.125em rgb(128, 0, 128);
}
#inputIcon {
    color: white;
    position: absolute;
}
#searchIcon {
    padding: 12px 15px;
    filter: opacity(0.9);
}

#inputPurpleArea::placeholder {
    color: rgba(255, 255, 255, 0.596);
}

.fa-wpbeginner {
    font-size: 3em;
    color: rgb(128, 0, 128);
}

.columns {
    height: 90vh;
}

/*Left Main Content */



#miasmus {
    font-family: neon;
    color: purple;
    animation: miasmus 2s ease infinite;
    font-size: 4.5em;
    font-weight: bold;
    line-height: 4.5rem;
}

#vibes {
    font-family: neon;
    color: purple;
    animation: vibes 2s linear infinite;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 3.5rem;
}

div.card {
    background-color: transparent;
    box-shadow: none;
}

div.content {
    color: white;
}


.card-content{
    position: relative;
    padding: 0;
}

.content h4 {
    color: white;
    margin-bottom: 0.1em;
    font-weight: bold;
}

.content p {
    font-size: 0.9em;
}

.titleInfo {
    position: relative;
    top: -8px;
    max-width: 315px;
    padding: 10px;
    background-color: rgba(128, 0, 128, 0.226);
    backdrop-filter: blur(2px);
    color: white;
    font-size: 0.8em;
    z-index: -1;
}

/*Right Main Content*/

.rightFlexContent {
    flex-direction: column;
    align-self: center;
}

.rightFlexContent:nth-of-type(1) {
    margin: 0rem 3rem 0rem 3rem;
}


#mainContentRight {
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(128, 0, 128, 0.226);
    backdrop-filter: blur(2px);
    border-radius: 7px 0px 0px 7px;
}

#mainContentRight img {
    border-radius: 7px;
}

#leftPhoto {
    align-self: center;
    width: 90%;
}

#rightPhoto {
    align-self: center;
    width: 80%;
}

#titleLeft {
    position: relative;
    top: 13px;
    font-weight: bold;
}
#titleRight {
    position: relative;
    top: 13px;
    font-weight: bold;
}

#imgTextLeft {
    font-size: 0.8em;
    text-align: left;
    padding: 5px 10px;
}
#imgTextRight {
    font-size: 0.7em;
    text-align: left;
    padding: 5px 10px;
}



/*Animations for Left Main Content (Big Title)*/

@keyframes miasmus {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }



@keyframes vibes {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

/* Mobile (Responsive) */

/* Burger */

.navbar-burger:hover {
    background-color: rgb(128, 0, 128, 0.315);
}
.navbar-burger {
    color: rgb(128, 0, 128);
    margin: auto 0px auto auto;
    height: 3.5rem;
}
a.navbar-burger:hover{
    color: white;
}
.navbar-burger span {
    height: 2px;
}

/* Right Area */

@media (max-width: 770px) {
    .fa-wpbeginner {
        font-size: 2.5em;
    }
    .navbar-dropdown {
        background-color: transparent;
    }
    .navbar-menu.is-active {
        background-color: rgb(128, 0, 128, 0.315);
    }
    #dropDownButton:hover {
        background-color: transparent;
    }
    #dropDownButton > a:hover {
        animation: none;
        background-color: transparent;
    }
    #dropDownMenu > a:hover:nth-of-type(odd) {
        background-color: transparent;
        animation: none;
        transition: 300ms;
    }
    #dropDownMenu > a:hover:nth-of-type(even) {
        background-color: transparent;
        animation: none;
        transition: 300ms;
    }
    #leftContainer {
        width: 100vw;
        text-align: center;
    }
    .media-content {
        overflow: visible;
    }
    #mainContentRight {
        flex-direction: column;
    }
    #leftPhoto {
        align-self: center;
        width: 45%;
        flex-direction: row;
    }
    #rightPhoto {
        align-self: center;
        width: 45%;
        flex-direction: row;
    }
    .rightFlexContent {
        margin: auto;
    }
    #imgTextLeft {
        align-self: center;
    }
    #imgTextRight {
        align-self: center;
    }
    .rightFlexContent:nth-of-type(1) {
        margin: 0;
    }
    .titleInfo {
        top: -10px;
        margin: 0 auto 0 auto;
    }
}
